{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:23 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-3240-55cf-9806-113a0d001dd9": {},
          "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-322a-f9f7-740a-113a0d00ee19": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99426143719809202",
        "MS-CV": "kfpOdLsndUCqmuLBxUz4GA.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99426143719809202",
          "createdDateTime": "2021-12-14T17:45:24.7620788\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-3240-55cf-9806-113a0d001dd9": {},
            "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-322a-f9f7-740a-113a0d00ee19": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99426143719809202?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:24 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-5609-f66d-defd-8b3a0d002749": {},
          "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-322a-f9f7-740a-113a0d00ee19": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZSzFN7bXD0WoNUk5bfZVJg.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99426143719809202",
          "createdDateTime": "2021-12-14T17:45:24.7620788\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-3240-55cf-9806-113a0d001dd9": {},
            "8:acs:71ec590b-cbad-490c-99c5-b578bdacde54_0000000e-5609-f66d-defd-8b3a0d002749": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99426143719809202?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "MS-CV": "goJSXJW0ykuNeUkDIAVmng.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acs-ui-dev.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1926358036"
  }
}
