{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "isabknap",
        "skills": [
          {
            "categories": [
              "location",
              "email"
            ],
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "context": "/document",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "locations",
                "targetName": "places"
              },
              {
                "name": "emails"
              }
            ]
          }
        ],
        "cognitiveServices": {
          "@odata.type": "#Microsoft.Azure.Search.DefaultCognitiveServices"
        },
        "knowledgeStore": {
          "storageConnectionString": "DefaultEndpointsProtocol=https;AccountName=mohitcsablob;AccountKey=Sanitized;EndpointSuffix=core.windows.net",
          "projections": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "36",
        "ETag": "W/\u00220x8D960D83288ED1C\u0022",
        "Location": "https://mohitc-acs.search.windows.net/skillsets(\u0027isabknap\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8D960D83288ED1C\u0022",
        "name": "isabknap",
        "description": null,
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "name": null,
            "description": null,
            "context": "/document",
            "categories": [
              "location",
              "email"
            ],
            "defaultLanguageCode": null,
            "minimumPrecision": null,
            "includeTypelessEntities": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/content",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "locations",
                "targetName": "places"
              },
              {
                "name": "emails",
                "targetName": null
              }
            ]
          }
        ],
        "cognitiveServices": {
          "@odata.type": "#Microsoft.Azure.Search.DefaultCognitiveServices",
          "description": null
        },
        "knowledgeStore": {
          "storageConnectionString": "DefaultEndpointsProtocol=https;AccountName=mohitcsablob;AccountKey=Sanitized;EndpointSuffix=core.windows.net",
          "projections": [],
          "parameters": null
        },
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/datasources?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "vxdbquub",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=mohitcsablob;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "ncltynku"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "34",
        "ETag": "W/\u00220x8D960D832928BCA\u0022",
        "Location": "https://mohitc-acs.search.windows.net/datasources(\u0027vxdbquub\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D960D832928BCA\u0022",
        "name": "vxdbquub",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ncltynku",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "malmbols",
        "dataSourceName": "vxdbquub",
        "targetIndexName": "rdgmuqsf"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "1651",
        "ETag": "W/\u00220x8D960D8336C98AD\u0022",
        "Location": "https://mohitc-acs.search.windows.net/indexers(\u0027malmbols\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D960D8336C98AD\u0022",
        "name": "malmbols",
        "description": null,
        "dataSourceName": "vxdbquub",
        "skillsetName": null,
        "targetIndexName": "rdgmuqsf",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers(\u0027malmbols\u0027)/search.status?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#Microsoft.Azure.Search.V2021_04_30_Preview.IndexerExecutionInfo",
        "name": "malmbols",
        "status": "running",
        "lastResult": {
          "status": "success",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2021-08-16T17:06:35.884Z",
          "endTime": "2021-08-16T17:06:37.513Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222021-08-16T17:06:35.916Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2021-08-16T17:06:35.884Z",
            "endTime": "2021-08-16T17:06:37.513Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222021-08-16T17:06:35.916Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222021-08-16T17:06:35.916Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "allDocsFinalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222021-08-16T17:06:05.9160018\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": []
        }
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers(\u0027malmbols\u0027)/search.run?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "31"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027rdgmuqsf\u0027)/docs/search.post.search?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": true,
        "search": "*"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "32",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.count": 10,
        "value": [
          {
            "@search.score": 1.0,
            "hotelId": "aHR0cHM6Ly9tb2hpdGNzYWJsb2IuYmxvYi5jb3JlLndpbmRvd3MubmV0L25jbHR5bmt1LzEw0",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "location": null,
            "geoLocation": null,
            "address": null,
            "rooms": []
          },
          {
            "@search.score": 1.0,
            "hotelId": "aHR0cHM6Ly9tb2hpdGNzYWJsb2IuYmxvYi5jb3JlLndpbmRvd3MubmV0L25jbHR5bmt1LzQ1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "location": null,
            "g[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027rdgmuqsf\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "156"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "ncltynku",
    "RandomSeed": "1426803716",
    "SearchIndexName": "rdgmuqsf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "mohitcsablob",
    "STORAGE_ENDPOINT_SUFFIX": null
  }
}