{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "types": [
          {
            "id": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "DefaultType",
            "description": "Default type",
            "variables": {
              "EventCount": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "352480368",
            "name": "type8j2ZELjP",
            "variables": {
              "aggregateVariableeo9XJoGj": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          },
          {
            "id": "351600272",
            "name": "typed0QeU9Tj",
            "variables": {
              "aggregateVariableeo9XJoGj": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "352480368",
              "name": "type8j2ZELjP",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "351600272",
              "name": "typed0QeU9Tj",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "type8j2ZELjP",
            "typed0QeU9Tj"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "352480368",
              "name": "type8j2ZELjP",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "351600272",
              "name": "typed0QeU9Tj",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "typeIds": [
            "352480368",
            "351600272"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "352480368",
              "name": "type8j2ZELjP",
              "description": "Description",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "351600272",
              "name": "typed0QeU9Tj",
              "description": "Description",
              "variables": {
                "aggregateVariableeo9XJoGj": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "352480368",
            "351600272"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1926116057",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}