{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "323025957",
            "name": "type3o0Aal7B",
            "variables": {
              "numericVariableNameI8MOgPci": {
                "value": {
                  "tsx": "$event"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                },
                "kind": "numeric"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "error": {
              "code": "InvalidInput",
              "message": "Unable to parse \u0027value\u0027 time series expression (TSX) in variable \u0027numericVariableNameI8MOgPci\u0027.",
              "target": "variables.numericVariableNameI8MOgPci.value",
              "innerError": {
                "parseErrorDetails": [
                  {
                    "pos": [
                      6,
                      6
                    ],
                    "line": 1,
                    "col": 6,
                    "msg": "no viable alternative at input \u0027$event\u0027",
                    "code": "SyntaxError",
                    "target": "\u003CEOF\u003E"
                  }
                ],
                "code": "TsxParseError"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "type3o0Aal7B"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series type with name \u0027type3o0Aal7B\u0027 is not found.",
              "innerError": {
                "code": "TypeNotFound"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "names": [
            "type3o0Aal7B"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2068943395",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}