{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:33 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99470232088253463",
        "MS-CV": "A6LFi33NFkKgNtUvg3MvIw.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99470232088253463",
          "createdDateTime": "2021-12-14T17:45:34.2097933\u002B00:00",
          "validFrom": "2021-12-14T17:45:34.0462359\u002B00:00",
          "validUntil": "2022-06-12T17:45:34.0462359\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99470232088253463?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:34 GMT"
      },
      "RequestBody": {
        "validFrom": "2021-08-01T08:06:32.0000000\u002B01:00",
        "validUntil": "2021-08-02T08:06:32.0000000\u002B01:00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eoeAyByT00GXzaoGP8y4hg.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99470232088253463",
          "createdDateTime": "2021-12-14T17:45:34.2097933\u002B00:00",
          "validFrom": "2021-08-01T07:06:32\u002B00:00",
          "validUntil": "2021-08-02T07:06:32\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99470232088253463?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "MS-CV": "qh46GvzQCUWtEmJQA/wXGA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acs-ui-dev.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "404458473"
  }
}
