{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:39 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99432292065901340",
        "MS-CV": "XTRcHPewxEu4KouWiQ0DFQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99432292065901340",
          "createdDateTime": "2021-12-14T17:45:39.9859709\u002B00:00",
          "validFrom": "2021-12-14T17:45:39.9349009\u002B00:00",
          "validUntil": "2022-06-12T17:45:39.9349009\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99432292065901340?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:40 GMT"
      },
      "RequestBody": {
        "validFrom": "2021-08-01T08:06:32.0000000\u002B01:00",
        "validUntil": "2021-08-02T08:06:32.0000000\u002B01:00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UpJjTJhR0061j65KqWz7gQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99432292065901340",
          "createdDateTime": "2021-12-14T17:45:39.9859709\u002B00:00",
          "validFrom": "2021-08-01T07:06:32\u002B00:00",
          "validUntil": "2021-08-02T07:06:32\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms/99432292065901340?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "MS-CV": "FwpaHEZo30WtkrpPhnBXdA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acs-ui-dev.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "325063731"
  }
}
