{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:35 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99473128821914123",
        "MS-CV": "DZCagBUcE0y6qTrxLa6rAQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99473128821914123",
          "createdDateTime": "2021-12-14T17:45:36.0537609\u002B00:00",
          "validFrom": "2021-12-14T17:45:35.9460895\u002B00:00",
          "validUntil": "2022-06-12T17:45:35.9460895\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acs-ui-dev.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "353091237"
  }
}
