{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.communication.azure.com/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 17:45:41 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9941066017068021",
        "MS-CV": "q37Y0RIrXkqkecOmHZeMNw.0"
      },
      "ResponseBody": {
        "room": {
          "id": "9941066017068021",
          "createdDateTime": "2021-12-14T17:45:41.4079584\u002B00:00",
          "validFrom": "2021-12-14T17:45:41.3555728\u002B00:00",
          "validUntil": "2022-06-12T17:45:41.3555728\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acs-ui-dev.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "849693623"
  }
}
